.checkbox {
    display: block;
    width: fit-content;
    min-height: 34px;
    position: relative;
    cursor: pointer;
    .checkbox__input {
        width: 1px;
        height: 1px;
        position: absolute;
        opacity: 0;
        @include hover {
            &:hover {
                +label,
                +span {
                    &::before {
                        box-shadow: 0 0 0 1px rgba(40, 62, 128, 1) inset;
                    }
                }
            }
        }
        +label,
        +span {
            display: inline-flex;
            align-items: center;
            position: relative;
            padding-left: 54px;
            min-height: 34px;
            font-size: 20px;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                @include size(34px);
                box-shadow: 0 0 0 1px rgba(219, 219, 219, 1) inset;
                border-radius: 10px;
                transition: $transition;
            }
            &::after {
                content: "";
                position: absolute;
                top: 9px;
                left: 6px;
                @include size(23px, 16px);
                transition: $transition;
                opacity: 0;
                background-image: url('data:image/svg+xml,<svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 9.5L5.10878 14.1088C5.88079 14.8808 7.12928 14.891 7.91384 14.1318L22 0.5" stroke="%23283E80"/></svg>');
            }
        }
        &:not(:checked) {
            +label,
            +span {
                &::after {
                    opacity: 0;
                }
            }
        }
        &:checked {
            +label,
            +span {
                &::before {
                    box-shadow: 0 0 0 1px rgba(40, 62, 128, 1) inset;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
