.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(17, 17, 17, 0.3);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: calc(100% - 20px);
  max-height: 95vh;
  background-color: $color-white;
  z-index: 11;
  border-radius: 20px;
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    @include size(24px);
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.0002 5L5.00024 19" stroke="black" stroke-opacity="0.87" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.00024 5L19.0002 19" stroke="black" stroke-opacity="0.87" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    z-index: 1;
  }
  &__container {
    padding: 0 20px 20px;
    max-height: calc(80vh - 70px);
    overflow: auto;
  }
  &__title {
    font-size: 26px;
    line-height: 1.2;
    padding: 20px;
  }
  &__thanks{
    display: flex;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include size(100%);
  }
}
