.overlay {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(20, 20, 20, 0.70);
  backdrop-filter: blur(2.5px);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 580px;
  width: calc(100% - 20px);
  max-height: 95vh;
  background-color: $color-white;
  z-index: 111;
  border-radius: 10px;

  @include media(max, 767) {
    width: 100%;
    max-height: 100vh;
    @include adaptive-height;
    border-radius: 0;
    align-items: center;
    max-width: inherit;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    @include size(32px);
    cursor: pointer;
    z-index: 1;
    transition: transform $transition;

    @include hover {
      transform: rotate(90deg);
    }
  }
  &__container {
    padding: 0 30px 60px;
    width: 100%;
    max-height: calc(95vh - 70px);
    overflow: auto;
    @include media(max, 767) {
      margin-bottom: 25px;
      margin-top: 30px;
      max-height: calc(100vh - 130px);
    }
  }
  &__title {
    padding: 60px 0 10px;
    text-align: center;
  }
  &__thanks{
    display: none;
    flex-direction: column;
    gap: 30px;
    pointer-events: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include size(100%);
  }
  &__thanks-text {
    @include media(max, 767) {
      padding: 0 20px;
    }
  }
}
