.overlay(data-overlay="")

.modal(data-modal="callback")
    .modal__close(data-modal-close="")
      svg(width="32" height="32")
          use(href="#icon-cross")
    .modal__container(data-scroll-container="" data-form="callback")
        form.form.invalid(data-validate-modal="" data-form-body="")
          .modal__title
            .h3
              span Заказать звонок
          .inputholder__wrapper
            .inputholder.form__inputholder
                input.inputholder__input(type="text" placeholder="Имя*" data-required="")
            .inputholder.form__inputholder(data-custom-mask="")
                input.inputholder__input(type="tel" placeholder="Телефон*" data-required="" data-mask-tel="")
          .form__buttonholder(data-form-trigger="")
            button.form__button.button.button--primary(disabled="" data-form-button="")
                span Отправить
          include ../policy/policy.pug
        .modal__thanks(data-form-thanks="")
            .modal__title
              .h3
                  span Спасибо!
            .modal__thanks-text
                p Ваша заявка отправлена, <br>мы свяжемся с вами в&nbsp;ближайшее время

.modal(data-modal="bid")
    .modal__close(data-modal-close="")
      svg(width="32" height="32")
          use(href="#icon-cross")
    .modal__container(data-scroll-container="" data-form="bid")
        form.form.invalid(data-validate-modal="" data-form-body="")
          .modal__title
            .h3
              span Оставить заявку
          .inputholder__wrapper
            .inputholder.form__inputholder
                input.inputholder__input(type="text" placeholder="Имя*" data-required="")
            .inputholder.form__inputholder(data-custom-mask="")
                input.inputholder__input(type="tel" placeholder="Телефон*" data-required="" data-mask-tel="")
            .inputholder.form__inputholder
                input.inputholder__input(type="email" placeholder="Email*" data-required="")
          .form__buttonholder(data-form-trigger="")
            button.form__button.button.button--primary(disabled="" data-form-button="")
                span Отправить
          include ../policy/policy.pug
        .modal__thanks(data-form-thanks="")
            .modal__title
              .h3
                  span Спасибо!
            .modal__thanks-text
                p Ваша заявка отправлена, <br>мы свяжемся с вами в ближайшее время

.modal(data-modal="bid-num")
    .modal__close(data-modal-close="")
      svg(width="32" height="32")
          use(href="#icon-cross")
    .modal__container(data-scroll-container="" data-form="bid")
        form.form.invalid(data-validate-modal="" data-form-body="")
          .modal__title
            .h3
              span Оставить заявку
            span.calc-number
          .inputholder__wrapper
            .inputholder.form__inputholder
                input.inputholder__input(type="text" placeholder="Имя*" data-required="")
            .inputholder.form__inputholder(data-custom-mask="")
                input.inputholder__input(type="tel" placeholder="Телефон*" data-required="" data-mask-tel="")
            .inputholder.form__inputholder
                input.inputholder__input(type="email" placeholder="Email*" data-required="")
          .form__buttonholder(data-form-trigger="")
            button.form__button.button.button--primary(disabled="" data-form-button="")
                span Отправить
          include ../policy/policy.pug
        .modal__thanks(data-form-thanks="")
            .modal__title
              .h3
                  span Спасибо!
            .modal__thanks-text
                p Ваша заявка отправлена, <br>мы свяжемся с вами в ближайшее время
