.scroll-top {
  z-index: 4;
  position: fixed;
  width: 100%;
  bottom: 50px;
  justify-content: flex-end;
  pointer-events: none;
  opacity: 0;
  display: none;
  right: 50%;
  transform: translateX(50%);
  @include media(max, 767) {
    bottom: 20px;
  }
  &__button {
    @include size(40px, 40px);
    margin-bottom: 150px;
    margin-right: 20px;
    @include size(60px);
    background-image: url('data:image/svg+xml,<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.44828 19.3793V4.48276M2 9.44828L9.44828 2L16.8966 9.44828" stroke="white" stroke-width="2.17241" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-black;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
    @include media(max, 767) {
      @include size(42px);
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
  }
}
