.swiper-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(max, 767) {
    overflow: visible;
  }

  .swiper-notification {
    display: none;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-controls {
    display: flex;
    align-items: center;
    gap: 30px;
    @include media(max, 767) {
      gap: 0;
    }
  }

  .swiper-button-wrapper {
    display: flex;
  }

  .swiper-pagination {
    position: static;
    display: flex;
    gap: 10px;
    width: 320px;

    @include media(max, 767) {
      width: 100%;
    }
  }

  .swiper-pagination-bullet {
    width: 100%;
    height: 10px;
    margin: 0 !important;
    border: 1px solid $color-primary;
    border-radius: 8px;
    background-color: transparent;
    opacity: 1;
    transition: background-color $transition;

    &-active {
      background-color: $color-primary;
    }

    @include hover {
      background-color: $color-primary;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    background-color: $color-white;

    &::after {
      display: none;
    }

    @include media(max, 767) {
      display: none;
    }

    &:hover {
      svg {
        color: $color-primary;
      }
    }
    & svg {
      color: $color-black;
      transition: color $transition;
    }
  }
}

.swiper-how {
  @include media(min, 767) {
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .swiper-slide {
      width: 100% !important;
    }
  }
}

.swiper-cases {
  width: 100%;
  height: 450px;
  border-radius: 10px;

  @include media(max, 767) {
    height: 320px;
  }

  .swiper-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .swiper-button-wrapper {
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: transparent;
    svg {
      color: $color-white;
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media(max, 767) {
      border-radius: 10px;
      overflow: hidden;
    }
  }
}

.slider-who-is {
  flex-direction: column-reverse;
  gap: 40px;
  @include media(max, 767) {
    gap: 0;
  }
  .swiper-slide {
    @include media(max, 767) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .swiper-pagination {
    width: 100%;
    flex-wrap: wrap;
    @include media(max, 767) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: fit-content;
    height: auto;
    padding: 11px 20px;
    border-radius: 50px;
    border: none;
    background-color: $color-white;
    color: $color-primary;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    opacity: 1;
    transition: background-color $transition, color $transition;

    &-active {
      background-color: $color-primary;
      color: $color-white;
    }

    @include hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
