.swiper-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(max, 767) {
    overflow: visible;
  }

  .swiper-notification {
    display: none;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-controls {
    display: flex;
    align-items: center;
    gap: 30px;
    @include media(max, 767) {
      gap: 0;
    }
  }

  .swiper-button-wrapper {
    display: flex;
  }

  .swiper-pagination {
    position: static;
    display: flex;
    gap: 10px;
    width: 320px;

    @include media(max, 767) {
      width: 100%;
    }
  }

  .swiper-pagination-bullet {
    width: 100%;
    height: 10px;
    margin: 0 !important;
    border: 1px solid $color-primary;
    border-radius: 8px;
    background-color: transparent;
    opacity: 1;
    transition: background-color $transition;

    &-active {
      background-color: $color-primary;
    }

    @include hover {
      background-color: $color-primary;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    background-color: $color-white;

    &::after {
      display: none;
    }

    @include media(max, 767) {
      display: none;
    }

    &:hover {
      svg {
        color: $color-primary;
      }
    }
    & svg {
      color: $color-black;
      transition: color $transition;
    }
  }
}

.swiper-how {
  @include media(min, 767) {
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .swiper-slide {
      width: 100% !important;
    }
  }
}
