.tabs-how {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__subtitle {
    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 150%;
      @include media(max, 767) {
        margin-top: -20px;
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}

.tabs {
  display: flex;
  gap: 20px;
  @include media(max, 767) {
    flex-direction: column;
    gap: 40px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 380px;
      padding: 13px 20px;
      font-size: 20px;
      line-height: 140%;
      cursor: pointer;
      color: $color-primary;
      border-radius: 50px;
      border: 1px solid $color-primary;
      transition: color $transition, background-color $transition;

      @include media(max, 767) {
        width: 100%;
        font-size: 16px;
      }

      @include hover {
        background-color: $color-primary;
        color: $color-white;
      }

      &.active {
        pointer-events: none;
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
  &__fold {
    visibility: hidden;
    opacity: 0;
	  max-height: 0;
    transition: opacity $transition;
    &.open {
      visibility: visible;
    opacity: 1;
      max-height: inherit;
    }
  }
}

.tabs-cases {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__nav {
    display: flex;
    gap: 40px;

    @include media(max, 767) {
      gap: 10px;
    }

    &-item {
      width: 120px;
      height: 120px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 10px;
      filter: grayscale(100%);
      transition: filter $transition;

      @include media(max, 767) {
        width: 80px;
      height: 80px;
      }

      @include hover {
        filter: grayscale(0%);
      }

      &.active {
        filter: grayscale(0%);
        pointer-events: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__fold {
    visibility: hidden;
    opacity: 0;
	  max-height: 0;
    transition: opacity $transition;
    &.open {
      visibility: visible;
    opacity: 1;
      max-height: inherit;
    }
  }
}
