.tabs-how {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .swiper-controls {
    display: none;
    @include media(max, 767) {
      display: flex;
    }
  }
  &__subtitle {
    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 150%;
      @include media(max, 767) {
        margin-top: -20px;
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}

.tabs {
  display: flex;
  gap: 20px;
  @include media(max, 991) {
    flex-direction: column;
    gap: 40px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 380px;
      padding: 13px 20px;
      font-size: 20px;
      line-height: 140%;
      cursor: pointer;
      color: $color-primary;
      border-radius: 50px;
      border: 1px solid $color-primary;
      transition: color $transition, background-color $transition;

      @include media(max, 767) {
        width: 100%;
        font-size: 16px;
        padding: 17px 20px;
      }

      @include hover {
        background-color: $color-primary;
        color: $color-white;
      }

      &.active {
        pointer-events: none;
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
  &__fold {
    visibility: hidden;
    opacity: 0;
	  max-height: 0;
    transition: opacity $transition;
    &.open {
      visibility: visible;
      opacity: 1;
      max-height: inherit;
    }
  }
}

.tabs-calc {
  &__nav {
    display: flex;
    gap: 100px;
    margin-bottom: 60px;
    @include media(max, 767) {
      gap: 40px;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 40px;
    @include media(max, 767) {
      margin-bottom: 20px;
    }
  }

  &__sub-title {
    margin-bottom: 10px;
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    border-radius: 10px;
    background-color: $color-grey;
    cursor: pointer;
    transition: color $transition, background-color $transition;
    position: relative;

    &:not(:first-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50px;
      width: 100px;
      height: 50px;
      pointer-events: none;
      background-image: url('../img/image/union-btn.svg');
      background-size: 100% 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $color-grey;
      transition: background-color $transition;
      @include media(max, 767) {
        width: 40px;
        background-image: url('../img/image/union-btn-mob.svg');
      }
    }

    &.active,
    &.sub-active {
      color: $color-white;
      background-color: $color-primary;

      &::after {
        background-color: $color-primary;
      }
    }
  }

  &__folds {
    margin-bottom: 20px;
    @include media(max, 767) {
      margin-right: -20px;
      margin-left: -20px;
      overflow-x: auto;
      overflow-y: hidden;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__fold {
    visibility: hidden;
    opacity: 0;
	  max-height: 0;
    transition: opacity $transition;
    &.open {
      visibility: visible;
      opacity: 1;
      max-height: inherit;
    }
    &:has(.opened) {
      @include media(max, 767) {
        width: calc(300% + 20px);
      }
    }
  }

  &__more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(max, 767) {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
    .button {
      max-width: 380px;
      width: 100%;
    }
  }

  &__show-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    svg {
      transition: transform $transition;
    }

    &.opened {
      svg {
        transform: scaleY(-1);
      }
    }

    @include hover {
      span {
        position: relative;
        width: fit-content;
        &::after {
          width: 0;
        }
      }
    }

    span {
      font-size: 20px;
      line-height: 140%;
      position: relative;
      width: fit-content;
      @include media(max, 767) {
        font-size: 16px;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 1px;
        width: 100%;
        background: $color-black;
        transition: width $transition-long;
      }
    }
  }
}

