mixin tabs()
    .tabs(data-tabs="")
        .tabs__nav
            .tabs__nav-item.active(data-tabs-nav="1")
                span С оплатой по факту
            .tabs__nav-item(data-tabs-nav="2")
                span С предварительной оплатой
        .tabs__folds
            .tabs__fold.open(data-tabs-fold="1")
              +swiper("swiper-how", "pagination-id", "sliderHow", false)
                .swiper-slide
                  +CardHow({
                      image: "img/image-content/card-how.jpg",
                      alt: "фото карточки",
                      number: 1,
                      text: "Покупатель добавляет в виртуальную корзину продукты через терминал"
                  })
                .swiper-slide
                  +CardHow({
                      image: "img/image-content/card-how.jpg",
                      alt: "фото карточки",
                      number: 2,
                      text: "Подтверждает выбор и прикладывает карту для оплаты"
                  })
                .swiper-slide
                  +CardHow({
                      image: "img/image-content/card-how.jpg",
                      alt: "фото карточки",
                      number: 3,
                      text: "Покупатель забирает товары"
                  })
            .tabs__fold(data-tabs-fold="2")
              +swiper("swiper-how", "pagination-id", "sliderHow", false)
                .swiper-slide
                  +CardHow({
                      image: "img/image-content/card-how.jpg",
                      alt: "фото карточки",
                      number: 1,
                      text: "Покупатель прикладывает карту к терминалу"
                  })
                .swiper-slide
                  +CardHow({
                      image: "img/image-content/card-how.jpg",
                      alt: "фото карточки",
                      number: 2,
                      text: "Холодильник открывается, покупатель забирает товары"
                  })
                .swiper-slide
                  +CardHow({
                      image: "img/image-content/card-how.jpg",
                      alt: "фото карточки",
                      number: 3,
                      text: "QR-код на товарах сканируется терминалом, оплата списывается"
                  })
