.nav {
  position: absolute;
  top: -350px;
  left: 0;
  width: 100%;
  height: 350px;
  padding-top: 120px;
  background-image: url(../../img/image/menu-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: top $transition-long;

  @include media(max, 767) {
    top: -100vh;
    height: 100vh;
    padding-top: 116px;
    padding-left: 10px;
    background-image: url(../../img/image/menu-bg-mob.jpg);
  }

  &.vis {
    top: 0;
  }

  &__container {
    display: flex;
    gap: 20px;
    @include media(max, 767) {
      flex-direction: column;
      gap: 54px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 20px;
    width: 100%;
    height: 171px;
    @include media(max, 767) {
      flex-wrap: nowrap;
      height: unset;
      gap: 20px;
    }
  }

  &__contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    @include media(max, 767) {
      width: 100%;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;

    a {
      position: relative;
      width: fit-content;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 1px;
        width: 0;
        background: currentColor;
        transition: width $transition-long;
      }

      @include hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__link {
    font-size: 32px;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;

    @include media(max, 767) {
      font-size: 20px;
      line-height: 150%;
    }

    @include hover {
      color: $color-primary;
    }
    &.active {
      color: $color-primary;
    }
  }
}

