.nav {
  display: flex;
  align-items: center;
  margin: 0 auto;

  &__list {
    display: flex;
    gap: 60px;
    @include media(max, 1440) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  &__link {
    font-size: 24px;
    font-weight: 400;
    font-family: $font-secondary;
    transition: color $transition;

    &.active {
      color: $color-primary;
      pointer-events: none;
    }

    @include hover {
      color: $color-grey-light;
    }
    &:active {
      color: $color-primary;
    }
    &[aria-disabled="true"],
    .disabled {
      color: #3F3F3F;
      pointer-events: none;
      cursor: default;
    }
  }
}

