mixin nav(list)
    nav.nav(data-lock-scroll)&attributes(attributes)
            ul.nav__list
                each item in list
                    li.nav__item
                        a.nav__link(href=item.href)=item.title
