.request {
  display: flex;
  gap: 20px;
  color: $color-white;
  @include media(max, 767) {
    flex-direction: column;
    gap: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
    @include media(max, 767) {
      width: 100%;
    }
  }
  &__button {
    margin-top: auto;
  }
}
