extends ../../template/template.pug

block mainwrapper
  .page
    section.section.section--main#about
      .container
        include /blocks/banner/banner
    section.section.section--grey#advantages
      .container
        .h2
          h2 Преимущества работы с нами
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "15 лет опыта в автоматизации торговли",
            text: "Fridgy — дочернее предприятие компании Smartix, которая уже более 15 лет разрабатывает решения для&nbsp;самообслуживания, способные удовлетворить самые высокие требования бизнеса. Мы объединили надёжность Smartix и инновационные технологии, чтобы создать современное и прибыльное решение для автоматизации торговли."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Готовое к работе решение",
            text: "Вы получаете готовый к работе микромаркет, не&nbsp;требующий дополнительно сложной интеграции и&nbsp;настройки."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Современные технологии",
            text: "Встроенный модуль управления, POS-терминал и сканер штрихкодов обеспечивают удобный и понятный процесс оплаты."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Честная финансовая модель",
            text: "Фиксированная ставка за использование программной платформы — без скрытых комиссий и процентов с&nbsp;оборота."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Поддержка на всех этапах",
            text: "Помогаем с установкой, настройкой и оптимизацией работы микромаркета."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Гибкость и масштабируемость",
            text: "Система легко адаптируется под разные форматы бизнеса, от небольших офисов до крупных предприятий."
        })

    section.section.section--no-overflow#calculation
      .container
        .h2
          h2 Экономические показатели и&nbsp;расчёт окупаемости
        .tabs-calc(data-tabs="")
          .tabs-calc__title
            .h3
              h3 Рассчитайте окупаемость проекта со своими значениями:
          .tabs-calc__sub-title
            p Количество микромаркетов:
          .tabs-calc__nav
            .tabs-calc__nav-item.active(data-tabs-nav="1")
                span 1
            .tabs-calc__nav-item(data-tabs-nav="2")
                span 2
            .tabs-calc__nav-item(data-tabs-nav="3")
                span 3
            .tabs-calc__nav-item(data-tabs-nav="4")
                span 4
          .tabs-calc__folds.custom-scroll
            .tabs-calc__fold.open(data-tabs-fold="1")
              .card-calc__wrapper
                +CardCalc({
                  calculationTitle: '185 000 ₽',
                  calculationText: 'Инвестиции',
                  calculationTitleMore: 'Расчёт окупаемости',
                  calculationTextMore: ['При инвестиции в 185 000 рублей окупаемость наступает за: 185 000 / 41 540 ₽ ≈ 4,5 месяца']
                })
                +CardCalc({
                  calculationTitle: '6 000 ₽',
                  calculationText: '(30 продаж по 200 руб.) Дневной&nbsp;оборот',
                  calculationTitleMore: 'Дневной оборот',
                  calculationTextMore: ['200 ₽ х 30 = 6 000 ₽']
                })
                +CardCalc({
                  unvisible: true,
                  calculationTitle: '~3000 ₽',
                  calculationText: 'Валовая прибыль',
                  calculationTitleMore: 'Валовая прибыль',
                  calculationTextMore: [
                    'Себестоимость товаров составляет 50% от оборота, то есть 3 000 ₽',
                    'Валовая прибыль = 6 000–3 000 = 3 000 ₽'
                  ]
                })
                +CardCalc({
                  unvisible: true,
                  calculationTitle: '930 ₽',
                  calculationText: 'Операционные расходы (в день) ',
                  calculationTitleMore: 'Операционные расходы (в день) ',
                  calculationTextMore: [
                    'Эквайринг: 2,5% от 6 000 = 150 рублей Аренда/связь: 7% от 6 000 = 420 рублей Налоги: 6% от 6 000 = 360 рублей',
                    'Всего: 150 + 420 + 360 = 930 рублей'
                  ]
                })
                +CardCalc({
                  calculationTitle: '~2 070 ₽',
                  calculationText: 'Чистая прибыль за рабочий день',
                  calculationTitleMore: 'Прибыль за рабочий день',
                  calculationTextMore: ['3 000–930 = 2 070 рублей']
                })
                +CardCalc({
                  calculationTitle: '~45 540 ₽',
                  calculationText: '(22 рабочих дня) Ежемесячная&nbsp;чистая прибыль',
                  calculationTitleMore: 'Ежемесячная чистая прибыль',
                  calculationTextMore: ['2070 ₽ x 22 = 45 540 ₽']
                })
                +CardCalc({
                  calculationTitle: '4 000 ₽/мес',
                  calculationText: 'Лицензионный платёж за&nbsp;программную платформу',
                  calculationTitleMore: 'Лицензия на программную платформу',
                  calculationTextMore: ['4 000 руб./мес']
                })
                +CardCalc({
                  calculationTitle: '~41 540 ₽',
                  calculationText: 'Чистая прибыль после вычета лицензии',
                  calculationTitleMore: 'Чистая прибыль после вычета лицензии',
                  calculationTextMore: ['45 540 ₽ — 4 000 ₽ = 41 540 ₽']
                })
                +CardCalc({
                  unvisible: true,
                  onlyText: ['Эти показатели демонстрируют, что даже при снижении количества продаж до 30 в день бизнес микромаркетов остаётся прибыльным и обеспечивает быструю окупаемость инвестиций всего за 4 месяца. Это делает направление особенно привлекательным для инвестиций и предпринимательской деятельности.']
                })
            .tabs-calc__fold(data-tabs-fold="2")
              .card-calc__wrapper
                +CardCalc({
                  calculationTitle: '185 000 ₽',
                  calculationText: 'Инвестиции',
                  calculationTitleMore: 'Расчёт окупаемости',
                  calculationTextMore: ['При инвестиции в 185 000 рублей окупаемость наступает за: 185 000 / 41 540 ₽ ≈ 4,5 месяца']
                })
                +CardCalc({
                  calculationTitle: '6 000 ₽',
                  calculationText: '(30 продаж по 200 руб.) Дневной&nbsp;оборот',
                  calculationTitleMore: 'Дневной оборот',
                  calculationTextMore: ['200 ₽ х 30 = 6 000 ₽']
                })
                +CardCalc({
                  calculationTitle: '~2 070 ₽',
                  calculationText: 'Чистая прибыль за рабочий день',
                  calculationTitleMore: 'Прибыль за рабочий день',
                  calculationTextMore: ['3 000–930 = 2 070 рублей']
                })
                +CardCalc({
                  calculationTitle: '~45 540 ₽',
                  calculationText: '(22 рабочих дня) Ежемесячная&nbsp;чистая прибыль',
                  calculationTitleMore: 'Ежемесячная чистая прибыль',
                  calculationTextMore: ['2070 ₽ x 22 = 45 540 ₽']
                })
                +CardCalc({
                  calculationTitle: '4 000 ₽/мес',
                  calculationText: 'Лицензионный платёж за программную платформу',
                  calculationTitleMore: 'Лицензия на программную платформу',
                  calculationTextMore: ['4 000 руб./мес']
                })
                +CardCalc({
                  calculationTitle: '~41 540 ₽',
                  calculationText: 'Чистая прибыль после вычета лицензии',
                  calculationTitleMore: 'Чистая прибыль после вычета лицензии',
                  calculationTextMore: ['45 540 ₽ — 4 000 ₽ = 41 540 ₽']
                })
                +CardCalc({
                  unvisible: true,
                  calculationTitle: '930 ₽',
                  calculationText: 'Операционные расходы (в день) ',
                  calculationTitleMore: 'Операционные расходы (в день) ',
                  calculationTextMore: [
                    'Эквайринг: 2,5% от 6 000 = 150 рублей Аренда/связь: 7% от 6 000 = 420 рублей Налоги: 6% от 6 000 = 360 рублей',
                    'Всего: 150 + 420 + 360 = 930 рублей'
                  ]
                })
                +CardCalc({
                  unvisible: true,
                  calculationTitle: '~3000 ₽',
                  calculationText: 'Валовая прибыль',
                  calculationTitleMore: 'Валовая прибыль',
                  calculationTextMore: [
                    'Себестоимость товаров составляет 50% от оборота, то есть 3 000 ₽',
                    'Валовая прибыль = 6 000–3 000 = 3 000 ₽'
                  ]
                })
                +CardCalc({
                  unvisible: true,
                  onlyText: ['Эти показатели демонстрируют, что даже при снижении количества продаж до 30 в день бизнес микромаркетов остаётся прибыльным и обеспечивает быструю окупаемость инвестиций всего за 4 месяца. Это делает направление особенно привлекательным для инвестиций и предпринимательской деятельности.']
                })
            .tabs-calc__fold(data-tabs-fold="3")
              .card-calc__wrapper
                +CardCalc({
                  calculationTitle: '185 000 ₽',
                  calculationText: 'Инвестиции',
                  calculationTitleMore: 'Расчёт окупаемости',
                  calculationTextMore: ['При инвестиции в 185 000 рублей окупаемость наступает за: 185 000 / 41 540 ₽ ≈ 4,5 месяца']
                })
                +CardCalc({
                  calculationTitle: '6 000 ₽',
                  calculationText: '(30 продаж по 200 руб.) Дневной оборот',
                  calculationTitleMore: 'Дневной оборот',
                  calculationTextMore: ['200 ₽ х 30 = 6 000 ₽']
                })
                +CardCalc({
                  calculationTitle: '~2 070 ₽',
                  calculationText: 'Чистая прибыль за рабочий день',
                  calculationTitleMore: 'Прибыль за рабочий день',
                  calculationTextMore: ['3 000–930 = 2 070 рублей']
                })
                +CardCalc({
                  calculationTitle: '~45 540 ₽',
                  calculationText: '(22 рабочих дня) Ежемесячная чистая прибыль',
                  calculationTitleMore: 'Ежемесячная чистая прибыль',
                  calculationTextMore: ['2070 ₽ x 22 = 45 540 ₽']
                })
                +CardCalc({
                  calculationTitle: '4 000 ₽/мес',
                  calculationText: 'Лицензионный платёж за программную платформу',
                  calculationTitleMore: 'Лицензия на программную платформу',
                  calculationTextMore: ['4 000 руб./мес']
                })
                +CardCalc({
                  calculationTitle: '~41 540 ₽',
                  calculationText: 'Чистая прибыль после вычета лицензии',
                  calculationTitleMore: 'Чистая прибыль после вычета лицензии',
                  calculationTextMore: ['45 540 ₽ — 4 000 ₽ = 41 540 ₽']
                })
                +CardCalc({
                  unvisible: true,
                  calculationTitle: '930 ₽',
                  calculationText: 'Операционные расходы (в день) ',
                  calculationTitleMore: 'Операционные расходы (в день) ',
                  calculationTextMore: [
                    'Эквайринг: 2,5% от 6 000 = 150 рублей Аренда/связь: 7% от 6 000 = 420 рублей Налоги: 6% от 6 000 = 360 рублей',
                    'Всего: 150 + 420 + 360 = 930 рублей'
                  ]
                })
                +CardCalc({
                  unvisible: true,
                  calculationTitle: '~3000 ₽',
                  calculationText: 'Валовая прибыль',
                  calculationTitleMore: 'Валовая прибыль',
                  calculationTextMore: [
                    'Себестоимость товаров составляет 50% от оборота, то есть 3 000 ₽',
                    'Валовая прибыль = 6 000–3 000 = 3 000 ₽'
                  ]
                })
                +CardCalc({
                  unvisible: true,
                  onlyText: ['Эти показатели демонстрируют, что даже при снижении количества продаж до 30 в день бизнес микромаркетов остаётся прибыльным и обеспечивает быструю окупаемость инвестиций всего за 4 месяца. Это делает направление особенно привлекательным для инвестиций и предпринимательской деятельности.']
                })
            .tabs-calc__fold(data-tabs-fold="4")
              .card-calc__wrapper
                +CardCalc({
                  calculationTitle: '185 000 ₽',
                  calculationText: 'Инвестиции',
                  calculationTitleMore: 'Расчёт окупаемости',
                  calculationTextMore: ['При инвестиции в 185 000 рублей окупаемость наступает за: 185 000 / 41 540 ₽ ≈ 4,5 месяца']
                })
                +CardCalc({
                  calculationTitle: '6 000 ₽',
                  calculationText: '(30 продаж по 200 руб.) Дневной оборот',
                  calculationTitleMore: 'Дневной оборот',
                  calculationTextMore: ['200 ₽ х 30 = 6 000 ₽']
                })
                +CardCalc({
                  calculationTitle: '~2 070 ₽',
                  calculationText: 'Чистая прибыль за рабочий день',
                  calculationTitleMore: 'Прибыль за рабочий день',
                  calculationTextMore: ['3 000–930 = 2 070 рублей']
                })
                +CardCalc({
                  calculationTitle: '~45 540 ₽',
                  calculationText: '(22 рабочих дня) Ежемесячная чистая прибыль',
                  calculationTitleMore: 'Ежемесячная чистая прибыль',
                  calculationTextMore: ['2070 ₽ x 22 = 45 540 ₽']
                })
                +CardCalc({
                  calculationTitle: '4 000 ₽/мес',
                  calculationText: 'Лицензионный платёж за программную платформу',
                  calculationTitleMore: 'Лицензия на программную платформу',
                  calculationTextMore: ['4 000 руб./мес']
                })
                +CardCalc({
                  calculationTitle: '~41 540 ₽',
                  calculationText: 'Чистая прибыль после вычета лицензии',
                  calculationTitleMore: 'Чистая прибыль после вычета лицензии',
                  calculationTextMore: ['45 540 ₽ — 4 000 ₽ = 41 540 ₽']
                })
                +CardCalc({
                  unvisible: true,
                  calculationTitle: '930 ₽',
                  calculationText: 'Операционные расходы (в день) ',
                  calculationTitleMore: 'Операционные расходы (в день) ',
                  calculationTextMore: [
                    'Эквайринг: 2,5% от 6 000 = 150 рублей Аренда/связь: 7% от 6 000 = 420 рублей Налоги: 6% от 6 000 = 360 рублей',
                    'Всего: 150 + 420 + 360 = 930 рублей'
                  ]
                })
                +CardCalc({
                  unvisible: true,
                  calculationTitle: '~3000 ₽',
                  calculationText: 'Валовая прибыль',
                  calculationTitleMore: 'Валовая прибыль',
                  calculationTextMore: [
                    'Себестоимость товаров составляет 50% от оборота, то есть 3 000 ₽',
                    'Валовая прибыль = 6 000–3 000 = 3 000 ₽'
                  ]
                })
                +CardCalc({
                  unvisible: true,
                  onlyText: ['Эти показатели демонстрируют, что даже при снижении количества продаж до 30 в день бизнес микромаркетов остаётся прибыльным и обеспечивает быструю окупаемость инвестиций всего за 4 месяца. Это делает направление особенно привлекательным для инвестиций и предпринимательской деятельности.']
                })
          .tabs-calc__more-info
            .tabs-calc__show-more
              span Показать расчёт
              svg(width="24" height="24")
                use(href='#icon-arrow-down')
            +button({
                  button: true,
                  text: "Заявка с этим расчетом",
                  class: "button--primary request__button",
                  "data-modal-open": "bid"
              })


    section.section.section--no-overflow
      .container
        .h2
          h2 Как это работает?
        .tabs-how
          .tabs-how__subtitle
            p Мы предлагаем два варианта настройки умного холодильника
          .tabs-how__wrapper
            +tabs()

    section.section.section--grey#technology
      .container
        .h2
          h2 Подробнее о технологиях
        .card-technology__wrapper
          .card-technology__wrapper--left
            +CardTechnology({
                order: 1,
                image: "img/image-content/card-advantages-1.jpg",
                alt: "фото карточки",
                title: "Автономное решение для торговли",
                text: `<p>Микромаркет объединяет сканер штрихкодов и POS-терминал. Покупатели самостоятельно сканируют товары и оплачивают покупки, что снижает затраты на персонал и обеспечивает круглосуточную работу.</p>`
            })
            +CardTechnology({
                order: 5,
                image: "img/image-content/card-advantages-3.jpg",
                alt: "фото карточки",
                title: "Контроль и аналитика в реальном времени",
                text: `<p>С микромаркетом вы получаете доступ к системе мониторинга и анализа транзакций, и сможете: Управлять ассортиментом в режиме реального времени;</p><p>Получать подробные отчёты по продажам;</p><p>Оптимизировать товарное предложение на основе данных. Это помогает увеличить прибыль и улучшить эффективность работы торговой точки.</p>`
            })
            +CardTechnology({
              order: 4,
              image: "img/image-content/card-advantages-5.jpg",
              alt: "фото карточки",
              title: "Надёжность и безопасность",
              text: `<p>Микромаркет оснащён современными технологиями защиты данных, а программное обеспечение регулярно обновляется.</p><p>Это обеспечивает:</p><ol><li>Стабильную работу системы без сбоев.</li><li>Безопасность транзакций и защиту данных клиентов.</li><li>Доверие покупателей к вашему бизнесу.</li></ol>`
            })
          .card-technology__wrapper--right
            +CardTechnology({
              order: 3,
              image: "img/image-content/card-advantages-2.jpg",
              alt: "фото карточки",
              title: "Быстрота и удобство",
              text: `<p>Благодаря технологии самообслуживания покупатели получают мгновенный доступ к товарам, что минимизирует очереди. Это повышает лояльность клиентов и увеличивает частоту покупок.</p>`
            })
            +CardTechnology({
                order: 2,
                image: "img/image-content/card-advantages-4.jpg",
                alt: "фото карточки",
                title: "Гибкость и масштабируемость бизнеса",
                text: `<p>Платформу микромаркета легко интегрировать для&nbsp;разных форматов: офисов, предприятий, общественных учреждений. Вы можете быстро масштабировать бизнес — просто добавляйте новые точки.</p>`
            })
            +CardTechnology({
                order: 6,
                image: "img/image-content/card-advantages-6.jpg",
                alt: "фото карточки",
                title: "Прозрачная финансовая модель",
                text: "<p>Ежемесячная ставка за использование микромаркета фиксированная — 4 000 руб./мес., без&nbsp;скрытых затрат. Это позволяет:</p><ol><li>Быстрее окупить инвестиции;</li><li>Планировать бюджет без неожиданных затрат;</li><li>Сделать технологию самообслуживания привлекательной для вашего бизнеса.</li></ol>"
            })
        .card-technology__signature
          p
            span.blue-text Микромаркет Fridgy
            |  — это больше, чем просто торговая точка. Это современное решение для увеличения доходов и простого управления бизнесом.
    section.section.section--request#partners
      .container
        .request
          .request__title.h2
            h2 Откройте микромаркет с&nbsp;быстрой окупаемостью
          .request__content
            .request__text
              p Готовые решения для&nbsp;автоматизированной торговли без&nbsp;кассиров. Минимальные затраты на персонал, удобство для клиентов и&nbsp;современные технологии, которые уже работают в сотнях точек
            +button({
                button: true,
                text: "Оставить заявку",
                class: "button--white request__button",
                "data-modal-open": "bid"
            })

    section.section.section--no-overflow#examples
      .container
        .h2
          h2 Наши кейсы
        .tabs-cases.tabs-examples(data-tabs="")
          .tabs-cases__folds
              .tabs-cases__fold.open(data-tabs-fold="1")
                .card-cases
                  .card-cases__content
                    .card-cases__stat
                      .h3
                        h3 2000
                      .card-cases__text
                        p Каждый из нас понимает очевидную вещь: консультация с широким активом.
                    .card-cases__stat
                      .h3
                        h3 Более 38%
                      .card-cases__text
                        p Каждый из нас понимает очевидную вещь: консультация с широким активом.
                  +swiper("swiper-cases", "pagination-id", "sliderCases", true)
                    .swiper-slide(style="background-image: url(../../img/image-content/slider-cases.jpg)")
                      .card-cases__slider-title
                        h3 Каждый из нас понимает: консультация с широким активом. Каждый из нас понимает очевидную вещь
                    .swiper-slide(style="background-image: url(../../img/image-content/slider-cases.jpg)")
                      .card-cases__slider-title
                        h3 Каждый из нас понимает:

              .tabs-cases__fold(data-tabs-fold="2")
                .card-cases
                  .card-cases__content
                    .card-cases__stat
                      .h3
                        h3 100 000
                      .card-cases__text
                        p Каждый из нас понимает очевидную вещь: консультация с широким активом.
                    .card-cases__stat
                      .h3
                        h3 20
                      .card-cases__text
                        p Каждый из нас понимает очевидную вещь: консультация с широким активом.
                  +swiper("swiper-cases", "pagination-id", "sliderCases", true)
                    .swiper-slide(style="background-image: url(../../img/image-content/slider-cases.jpg)")
                      .card-cases__slider-title
                        h3 Каждый из нас понимает: консультация с широким активом. Каждый из нас понимает очевидную вещь

              .tabs-cases__fold(data-tabs-fold="3")
                .card-cases
                  .card-cases__content
                    .card-cases__stat
                      .h3
                        h3 +50%
                      .card-cases__text
                        p Каждый из нас понимает очевидную вещь: консультация с широким активом.
                    .card-cases__stat
                      .h3
                        h3 1000
                      .card-cases__text
                        p Каждый из нас понимает очевидную вещь: консультация с широким активом.
                  +swiper("swiper-cases", "pagination-id", "sliderCases", true)
                    .swiper-slide(style="background-image: url(../../img/image-content/slider-cases.jpg)")
                      .card-cases__slider-title
                        h3 Каждый из нас понимает: консультация с широким активом. Каждый из нас понимает очевидную вещь
                    .swiper-slide(style="background-image: url(../../img/image-content/slider-cases.jpg)")
                      .card-cases__slider-title
                        h3 Каждый из нас понимает:
          .tabs-cases__nav
              .tabs-cases__nav-item.active(data-tabs-nav="1")
                  img(src="../../img/image-content/samokat.png", alt="")
              .tabs-cases__nav-item(data-tabs-nav="2")
                  img(src="../../img/image-content/grow-food.png", alt="")
              .tabs-cases__nav-item(data-tabs-nav="3")
                  img(src="../../img/image-content/delivery-food.png", alt="")

    section.section.section--grey.section--no-overflow#examples
      .container
        .h2
          h2 Кому подойдёт микромаркет
        +swiper("slider-who-is", "pagination-id", "sliderWhoIs", false)
          .swiper-slide
            +CardWhoIs({
                paginationText: "Собственникам помещений",
                title: "Привлекайте арендаторов и&nbsp;увеличивайте доход без&nbsp;лишних затрат",
                listItems: [
                    "Дополнительный поток посетителей и повышение удовлетворённости арендаторов.",
                    "Современный сервис, повышающий конкурентоспособность недвижимости.",
                    "Новый источник дохода без больших инвестиций."
                ]
            })
          .swiper-slide
            +CardWhoIs({
                paginationText: "Производителям еды и напитков, кафе и ресторанам",
                title: "Привлекайте арендаторов и увеличивайте доход без лишних затрат",
                listItems: [
                    "Дополнительный поток посетителей и повышение удовлетворённости арендаторов.",
                    "Современный сервис, повышающий конкурентоспособность недвижимости.",
                    "Новый источник дохода без больших инвестиций."
                ]
            })
          .swiper-slide
            +CardWhoIs({
                paginationText: "Продуктовым магазинам и ритейлу",
                title: "Привлекайте арендаторов и увеличивайте доход без лишних затрат",
                listItems: [
                    "Дополнительный поток посетителей и повышение удовлетворённости арендаторов.",
                    "Современный сервис, повышающий конкурентоспособность недвижимости.",
                    "Новый источник дохода без больших инвестиций."
                ]
            })
          .swiper-slide
            +CardWhoIs({
                paginationText: "Отелям, ЖК, базам отдыха и сфере услуг",
                title: "Привлекайте арендаторов и увеличивайте доход без лишних затрат",
                listItems: [
                    "Дополнительный поток посетителей и повышение удовлетворённости арендаторов.",
                    "Современный сервис, повышающий конкурентоспособность недвижимости.",
                    "Новый источник дохода без больших инвестиций."
                ]
            })
          .swiper-slide
            +CardWhoIs({
                paginationText: "Предпринимателям: малому и микробизнесу",
                title: "Привлекайте арендаторов и увеличивайте доход без лишних затрат",
                listItems: [
                    "Дополнительный поток посетителей и повышение удовлетворённости арендаторов.",
                    "Современный сервис, повышающий конкурентоспособность недвижимости.",
                    "Новый источник дохода без больших инвестиций."
                ]
            })

    section.section.section--request
      .container
        .request
          .request__title.h2
            h2 Готовы запустить свой микромаркет?
          .request__content
            .request__text
              p Свяжитесь с нами, чтобы узнать детали и заказать установку.
            +button({
                button: true,
                text: "Оставить заявку",
                class: "button--white request__button",
                "data-modal-open": "bid"
            })

    section.section.section--no-overflow#about
      .container
        .h2
          h2 О компании
        +swiper("", "pagination-id", "sliderAbout", true)
            .swiper-slide
              +CardAbout({
                  image: "img/image-content/card-about.jpg",
                  alt: "фото карточки",
                  text: "Компания Fridgy — эксперт в области автоматизированных решений для самообслуживания. Мы специализируемся на создании умных холодильников — микромаркетов."
              })
            .swiper-slide
              +CardAbout({
                  image: "img/image-content/card-about.jpg",
                  alt: "фото карточки",
                  text: "Фиксированная ставка за использование программной платформы — без скрытых комиссий и процентов с оборота."
              })
            .swiper-slide
              +CardAbout({
                  image: "img/image-content/card-about.jpg",
                  alt: "фото карточки",
                  text: "Компания Fridgy — эксперт в области автоматизированных решений для самообслуживания. Мы специализируемся на создании умных холодильников — микромаркетов."
              })
            .swiper-slide
              +CardAbout({
                  image: "img/image-content/card-about.jpg",
                  alt: "фото карточки",
                  text: "Фиксированная ставка за использование программной платформы — без скрытых комиссий и процентов с оборота."
              })
    section.section.section--grey#faq
      .container
        .h2
          h2 Вопросы и ответы
        .accordion__wrapper
          .h3
            h3 Общие вопросы о&nbsp;микромаркетах
          .accordion__group
            +accordion({
                title: "Что входит в микромаркеты?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Как работают микромаркеты?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Какая сумма затрат на запуск?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Какие ежемесячные расходы?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
        .accordion__wrapper
          .h3
            h3 Запуск и&nbsp;поддержка
          .accordion__group
            +accordion({
                title: "Что нужно, чтобы начать работу и как быстро можно запустить микромаркет?",
                text: "Наше решение включает полностью готовый к работе микромаркет с интегрированным управляющим модулем, сканером штрихкодов, POS-терминалом и программным обеспечением для контроля продаж и аналитики."
            })
            +accordion({
                title: "Какую поддержку вы оказываете при запуске и дальнейшей работе?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Как выбрать лучшие локации для микромаркета?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Есть ли у вас готовые решения по наполнению микромаркета?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
        .accordion__wrapper
          .h3
            h3 Безопасность и&nbsp;эксплуатация
          .accordion__group
            +accordion({
                title: "Как бороться с воровством?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Что делать, если возникли проблемы с микромаркетом?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
        .accordion__wrapper
          .h3
            h3 Дополнительные возможности
          .accordion__group
            +accordion({
                title: "Можно ли забрендировать микромаркет?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Как контролировать работу микромаркета?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Почему стоит выбрать микромаркеты Fridgy, а не конкурентов?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
