extends ../../template/template.pug

block mainwrapper
  .page
    section.section.section--main.section--grey
      .container
        include /blocks/banner/banner
    section.section.section--about#about
      .container
        .h2
          h2 Завалим ваш отдел продаж
            br
            |
            span.text-accent целевыми Лидами
        .about-cards-wrapper
          +CardAbout({
            title: 'Оплата за результат',
            text: 'Вы платите только за переданные и получение вами целевые Лиды — их контактные данные (телефон, Telegram, email)',
            image: 'img/image-content/about-1.png',
            alt: 'Команда компании',
          })
          +CardAbout({
            title: 'Качественные лиды',
            text: 'Все передаваемые вам Лиды — это потенциальные клиенты, которые искали ваш товар или услугу',
            image: 'img/image-content/about-2.png',
            alt: 'Команда компании',
          })
          +CardAbout({
            title: 'Любой объём — на ваш выбор',
            text: 'Покупайте сколько контактов потенциальных клиентов в месяц — сколько требуется вам!',
            image: 'img/image-content/about-3.png',
            alt: 'Команда компании',
          })
          +CardAbout({
            title: 'Комплекс технологий',
            text: 'После расчёта стоимости Лидов и оплаты выбранного пакета — вы получите уникальный код для своего сайта, который позволит отслеживать контакты тех, кто не оставил заявку',
            image: 'img/image-content/about-4.png',
            alt: 'Команда компании',
          })
