extends ../../template/template.pug

block mainwrapper
  .page
    section.section.section--main#about
      .container
        include /blocks/banner/banner
    section.section.section--grey#advantages
      .container
        .h2
          h2 Преимущества работы с нами
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "15 лет опыта в автоматизации торговли",
            text: "Fridgy — дочернее предприятие компании Smartix, которая уже более 15 лет разрабатывает решения для самообслуживания, способные удовлетворить самые высокие требования бизнеса. Мы объединили надёжность Smartix и инновационные технологии, чтобы создать современное и прибыльное решение для автоматизации торговли."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Готовое к работе решение",
            text: "Вы получаете готовый к работе микромаркет, не требующий дополнительно сложной интеграции и настройки."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Современные технологии",
            text: "Встроенный модуль управления, POS-терминал и сканер штрихкодов обеспечивают удобный и понятный процесс оплаты."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Честная финансовая модель",
            text: "Фиксированная ставка за использование программной платформы — без скрытых комиссий и процентов с оборота."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Поддержка на всех этапах",
            text: "Помогаем с установкой, настройкой и оптимизацией работы микромаркета."
        })
        +CardAdvantages({
            image: "img/image-content/card-advantages.jpg",
            alt: "фото карточки",
            title: "Гибкость и масштабируемость",
            text: "Система легко адаптируется под разные форматы бизнеса, от небольших офисов до крупных предприятий."
        })

    section.section.section--no-overflow
      .container
        .h2
          h2 Как это работает?
        .tabs-how
          .tabs-how__subtitle
            p Мы предлагаем два варианта настройки умного холодильника
          .tabs-how__wrapper
            +tabs()

    section.section.section--grey#technology
      .container
        .h2
          h2 Подробнее о технологиях
        .card-technology__wrapper
          .card-technology__wrapper--left
            +CardTechnology({
                order: 1,
                image: "img/image-content/card-advantages-1.jpg",
                alt: "фото карточки",
                title: "Автономное решение для торговли",
                text: "Микромаркет объединяет сканер штрихкодов и POS-терминал. Покупатели самостоятельно сканируют товары и оплачивают покупки, что снижает затраты на персонал и обеспечивает круглосуточную работу."
            })
            +CardTechnology({
                order: 3,
                image: "img/image-content/card-advantages-3.jpg",
                alt: "фото карточки",
                title: "Быстрота и удобство",
                text: "Благодаря технологии самообслуживания покупатели получают мгновенный доступ к товарам, что минимизирует очереди. Это повышает лояльность клиентов и увеличивает частоту покупок."
            })
            +CardTechnology({
                order: 5,
                image: "img/image-content/card-advantages-5.jpg",
                alt: "фото карточки",
                title: "Контроль и аналитика в реальном времени",
                text: "С микромаркетом вы получаете доступ к системе мониторинга и анализа транзакций, и сможете: Управлять ассортиментом в режиме реального времени; Получать подробные отчёты по продажам; Оптимизировать товарное предложение на основе данных. Это помогает увеличить прибыль и улучшить эффективность работы торговой точки."
            })
          .card-technology__wrapper--right
            +CardTechnology({
                order: 2,
                image: "img/image-content/card-advantages-2.jpg",
                alt: "фото карточки",
                title: "Гибкость и масштабируемость бизнеса",
                text: "Платформу микромаркета легко интегрировать для разных форматов: офисов, предприятий, общественных учреждений. Вы можете быстро масштабировать бизнес — просто добавляйте новые точки."
            })
            +CardTechnology({
                order: 4,
                image: "img/image-content/card-advantages-4.jpg",
                alt: "фото карточки",
                title: "Надёжность и безопасность",
                text: "Микромаркет оснащён современными технологиями защиты данных, а программное обеспечение регулярно обновляется. Это обеспечивает: Стабильную работу системы без сбоев. Безопасность транзакций и защиту данных клиентов. Доверие покупателей к вашему бизнесу."
            })
            +CardTechnology({
                order: 6,
                image: "img/image-content/card-advantages-6.jpg",
                alt: "фото карточки",
                title: "Прозрачная финансовая модель",
                text: "Ежемесячная ставка за использование микромаркета фиксированная — 4 000 руб./мес., без скрытых затрат. Это позволяет: Быстрее окупить инвестиции; Планировать бюджет без неожиданных затрат; Сделать технологию самообслуживания привлекательной для вашего бизнеса."
            })
        .card-technology__signature
          p
            span.blue-text Микромаркет Fridgy
            |  — это больше, чем просто торговая точка. Это современное решение для увеличения доходов и простого управления бизнесом.
    section.section.section--request#partners
      .container
        .request
          .request__title.h2
            h2 Откройте микромаркет с быстрой окупаемостью
          .request__content
            .request__text
              p Готовые решения для автоматизированной торговли без кассиров. Минимальные затраты на персонал, удобство для клиентов и современные технологии, которые уже работают в сотнях точек
            +button({
                button: true,
                text: "Оставить заявку",
                class: "button--white request__button",
                "data-modal-open": "callback"
            })

    section.section.section--request
      .container
        .request
          .request__title.h2
            h2 Готовы запустить свой микромаркет?
          .request__content
            .request__text
              p Свяжитесь с нами, чтобы узнать детали и заказать установку.
            +button({
                button: true,
                text: "Оставить заявку",
                class: "button--white request__button",
                "data-modal-open": "callback"
            })

    section.section.section--no-overflow#about
      .container
        .h2
          h2 О компании
        +swiper("", "pagination-id", "sliderAbout", true)
            .swiper-slide
              +CardAbout({
                  image: "img/image-content/card-about.jpg",
                  alt: "фото карточки",
                  text: "Фиксированная ставка за использование программной платформы — без скрытых комиссий и процентов с оборота."
              })
            .swiper-slide
              +CardAbout({
                  image: "img/image-content/card-about.jpg",
                  alt: "фото карточки",
                  text: "Фиксированная ставка за использование программной платформы — без скрытых комиссий и процентов с оборота."
              })
            .swiper-slide
              +CardAbout({
                  image: "img/image-content/card-about.jpg",
                  alt: "фото карточки",
                  text: "Фиксированная ставка за использование программной платформы — без скрытых комиссий и процентов с оборота."
              })
            .swiper-slide
              +CardAbout({
                  image: "img/image-content/card-about.jpg",
                  alt: "фото карточки",
                  text: "Фиксированная ставка за использование программной платформы — без скрытых комиссий и процентов с оборота."
              })
    section.section.section--grey#faq
      .container
        .h2
          h2 Вопросы и ответы
        .accordion__wrapper
          .h3
            h3 Общие вопросы о микромаркетах
          .accordion__group
            +accordion({
                title: "Что входит в микромаркеты?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Как работают микромаркеты?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Какая сумма затрат на запуск?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Какие ежемесячные расходы?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
        .accordion__wrapper
          .h3
            h3 Запуск и поддержка
          .accordion__group
            +accordion({
                title: "Что нужно, чтобы начать работу и как быстро можно запустить микромаркет?",
                text: "Наше решение включает полностью готовый к работе микромаркет с интегрированным управляющим модулем, сканером штрихкодов, POS-терминалом и программным обеспечением для контроля продаж и аналитики."
            })
            +accordion({
                title: "Какую поддержку вы оказываете при запуске и дальнейшей работе?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Как выбрать лучшие локации для микромаркета?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Есть ли у вас готовые решения по наполнению микромаркета?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
        .accordion__wrapper
          .h3
            h3 Безопасность и эксплуатация
          .accordion__group
            +accordion({
                title: "Как бороться с воровством?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Что делать, если возникли проблемы с микромаркетом?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
        .accordion__wrapper
          .h3
            h3 Дополнительные возможности
          .accordion__group
            +accordion({
                title: "Можно ли забрендировать микромаркет?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Как контролировать работу микромаркета?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })
            +accordion({
                title: "Почему стоит выбрать микромаркеты Fridgy, а не конкурентов?",
                text: "Покупатели выбирают товар, сканируют штрихкод и оплачивают покупку через встроенный POS-терминал. Система автоматически обновляет данные об ассортименте и фиксирует транзакцию, обеспечивая быстрый и удобный процесс самообслуживания."
            })


