.accordion {
  border-bottom: 1px solid $color-black;
  &__toggle {
	padding: 15px 50px 15px 0;
	cursor: pointer;
	position: relative;
	gap: 10px;
	display: flex;
	justify-content: space-between;
  }
  &__title {
	font-weight: bold;
  }
  &__btn {
	@include size(24px);
	position: relative;
	flex: 0 0 24px;
	&:before {
	  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke="black" stroke-opacity="0.87" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
	  position: absolute;
	  top: 0;
	  left: 0;
	  content: '';
	  @include size(24px);
	  transition: $transition;
	}
	.active &:before {
	  transform: scale(-1);
	}
  }
  &__content {
	height: 0;
	overflow: hidden;
	&-box {
	  margin-bottom: 30px;
	}
  }
}
