.accordion {
  background-color: $color-white;
  padding: 20px 30px;
  border-radius: 10px;
  transition: box-shadow $transition;

  @include media(max, 767) {
    padding: 20px;
  }

  &.active {
    svg {
      transform: rotate(45deg);
    }
  }

  @include hover {
    svg {
      color: $color-primary;
    }
  }

  ol,
  ul {
    padding-left: 30px;
    li {
      list-style-type: disc;
    }
  }

  p, li {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  svg {
    transition: color $transition, transform $transition;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    @include media(max, 991) {
      flex-direction: column;
    }

    h3 {
      width: 380px;
      @include media(max, 991) {
        width: 100%;
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @include media(max, 767) {
      align-items: center;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
  }

  &__btn {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition;

    &-box {
      margin-top: 20px;
      @include media(max, 767) {
        margin-top: 10px;
      }
    }

    .text {
      width: 780px;
      @include media(max, 767) {
        width: 100%;
      }
    }
  }
}
