.card-how {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: $color-grey;
  @include media(max, 767) {
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    padding: 30px;
    justify-content: space-between;
    @include media(max, 767) {
      width: 100%;
      height: calc(100% - 240px);
      gap: 20px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    @include media(max, 767) {
      font-size: 20px;
      line-height: 140%;
    }
    p {
      font-size: 24px;
      line-height: 150%;
      @include media(max, 767) {
        font-size: 20px;
        line-height: 140%;
      }
    }
  }

  &__image {
    width: 240px;
    height: 240px;
    overflow: hidden;
    @include media(max, 767) {
      align-self: center;
    }
  }
  &__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ol,
  ul {
    padding-left: 30px;
    li {
      list-style-type: disc;
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      @include media(max, 767) {
        font-size: 16px;
      }
    }
  }
}
