.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;
  height: 72px;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  transition: background-color $transition;
  @include media(max, 767) {
    height: 60px;
    font-size: 20px;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    @include hover {
      background-color: #FF9832;
    }
    &:active {
      background-color: #CD3400;
    }
    &[aria-disabled="true"],
    &.disabled {
      background-color: $color-grey-light;
      pointer-events: none;
      cursor: default;
    }
  }
}
