.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  border-radius: 50px;
  transition: background-color $transition, color  $transition;

  @include media(max, 767) {
    font-size: 16px;
    width: 100%;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    @include hover {
      background-color: $color-black;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-black;
    min-width: 380px;
    @include media(max, 767) {
      min-width: 100%;
    }
    @include hover {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &--copy {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: $color-white;
    border-radius: 50%;

    svg {
      color: $color-black;
      transition: color $transition;
    }

    @include hover {
      background-color: $color-black;
      svg {
        color: $color-white;
      }
    }
  }

  &[disabled],
  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}


