.burger {
  z-index: 1;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid $color-primary;
  transition: $transition;
  
  @include hover {
    background-color: $color-primary;
    span {
      background-color: $color-white;
    }
  }

  @include media(max, 767) {
    border: none;
  }

  span {
    position: absolute;
    left: 13px;
    width: 20px;
    height: 2.1px;
    border-radius: 2px;
    background-color: $color-primary;
    transition: transform $transition, opacity $transition, background-color $transition;
    @include media(max, 767) {
      left: 14px;
      width: 32px;
    }

    &:nth-child(1) {
      top: 17px;
      @include media(max, 767) {
        top: 14px;
      }
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 17px;
      @include media(max, 767) {
        bottom: 14px;
      }
    }
  }

  &--open {
    @include media(max, 767) {
      transform: translate(9px, -5px);
    }
    span {
      @include media(max, 767) {
        background-color: $color-black;
        width: 23px;
      }
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

