.burger {
  display: none;
  z-index: 1;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid $color-primary;
  transition: $transition;

  @include media(max, 1440) {
    display: block;
  }

  @include hover {
    background-color: $color-primary;
    span {
      background-color: $color-white;
    }
  }

  span {
    position: absolute;
    left: 13px;
    width: 20px;
    height: 2.1px;
    border-radius: 2px;
    background-color: $color-primary;
    transition: transform $transition, opacity $transition, background-color $transition;

    &:nth-child(1) {
      top: 17px;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 17px;
    }
  }

  &--open {
    span {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

