.card-who-is {
  display: flex;
  gap: 40px;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: $color-white;
  overflow: hidden;
  @include media(max, 767) {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
  &__title {
    &.h3 {
      @include media(max, 767) {
        line-height: 140%;
        font-weight: 400;
        text-transform: none;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    @include media(max, 767) {
      width: 100%;
      gap: 20px;
    }
  }

  &__pagination-text {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    height: 0;
    @include media(max, 767) {
      min-height: 93px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      visibility: visible;
      pointer-events: all;
      width: 100%;
      height: auto;
      padding: 24px 20px;
      border-radius: 50px;
      border: none;
      background-color: $color-white;
      color: $color-primary;
      text-align: center;
      opacity: 1;
      transition: background-color $transition, color $transition;
    }
  }

  &__list {
    width: 50%;
    @include media(max, 767) {
      width: 100%;
    }
    .list-style li {
      padding-left: 30px;
    }
    p {
      @include media(max, 767) {
        font-size: 20px;
      }
    }
  }
}

.card-who-is__pagination-text {
  .swiper-slide-active & {
    color: $color-white;
    background-color: $color-primary;
  }

}
