.card-technology {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  @include media(max, 767) {
    flex-direction: column;
  }

  @include hover {
    .card-technology__image-pic {
      transform: scale(1.1);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__wrapper {
    display: flex;
    gap: 20px;

    &--left,
    &--right {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &--right {
      padding-top: 200px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px 30px 30px;
    background-color: $color-white;
    @include media(max, 767) {
      padding: 20px;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 150%;
  }
  &__text {
    color: $color-grey-dark;
    ol,
    ul {
      padding-left: 30px;
    }
    ol {
      li {
        list-style-type: disc;
      }
    }
    li {
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      @include media(max, 767) {
        font-size: 16px;
      }
    }
  }
  &__image {
    height: 300px;
    overflow: hidden;
    @include media(max, 767) {
      height: 200px;
    }
  }
  &__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $transition-long;
  }
  &__signature {
    max-width: 740px;
    p {
      font-size: 24px;
      line-height: 150%;
    }
  }
}
