.inputholder {
  width: 100%;
  position: relative;
  &__input,
  &__textarea {
    font-family: inherit;
	&::placeholder {
	  color: $color-black;
	  font-size: 16px;
	}
	&.error {
	  border-color: $color-error;
	  &::placeholder {
		color: $color-error;
	  }
	}
  }
  &__input {
	width: 100%;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid $color-black;
	font-size: 16px;
  }
  &__textarea {
	width: 100%;
	min-height: 100px;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid $color-black;
	font-size: 16px;
	display: block;
  }
}
.error-text {
  font-size: 12px;
  line-height: 1.1;
  margin-top: 4px;
  color: $color-error;
  display: none;
  &--backend {
	display: block;
  }
}
.error {
  border-color: $color-error;
  &+.error-text {
	display: block;
  }
}
