.inputholder {
  width: 100%;
  position: relative;
  &__input,
  &__textarea {
    font-family: inherit;
	&::placeholder {
	  color: $color-grey-dark;
	}
  &:focus {
    border-color: $color-primary;
  }
	&.error {
	  border-color: $color-error;
	  &::placeholder {
		color: $color-error;
	  }
	}
  }
  &__input {
	width: 100%;
	padding: 10px 20px;
	border-radius: 50px;
	border: 1px solid $color-grey-dark;
	font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  }
  &__textarea {
	width: 100%;
	min-height: 100px;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid $color-black;
	font-size: 16px;
	display: block;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.error-text {
  font-size: 12px;
  line-height: 1.1;
  margin-top: 4px;
  color: $color-error;
  display: none;
  &--backend {
	display: block;
  }
}
.error {
  border-color: $color-error;
  &+.error-text {
	display: block;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 70px;

  @include media(max, 767) {
    padding: 0;
  }

  &__button {
    width: 100%;
  }
}
