.card-about {
  display: flex;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  @include media(max, 767) {
    flex-direction: column;
  }

  &__content {
    width: calc(100% - 480px);
    padding: 30px 30px 30px 20px;
    background-color: $color-grey;
    @include media(max, 767) {
      width: 100%;
      height: calc(100% - 240px);
      padding: 20px;
    }
  }

  &__image {
    width: 480px;
    height: 100%;
    overflow: hidden;
    @include media(max, 767) {
      width: 100%;
      height: 240px;
    }
  }
  &__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text {
    p {
      @include media(max, 767) {
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
  ol,
  ul {
    padding-left: 30px;
    li {
      list-style-type: disc;
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      @include media(max, 767) {
        font-size: 16px;
      }
    }
  }
}
