.about-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include media(max, 1280) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card-about {
  display: flex;
  gap: 10px;
  min-height: 349px;
  border-radius: 30px;
  overflow: hidden;
  background-color: $color-grey-white;

  @include hover {
    .card-about__star {
      transform: rotate(180deg);
    }
  }

  @include media(max, 767) {
    flex-direction: column;
    min-height: unset;
  }

  &__media {
    width: 40%;
    flex-shrink: 0;
    align-self: flex-end;
    @include media(max, 767) {
      width: 60%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    padding: 60px 0 40px 40px;
    @include media(max, 767) {
      padding: 20px;
      width: 100%;
    }
  }

  &__header {
    display: flex;
    gap: 30px;
  }

  &__star {
    width: 44px;
    height: 44px;
    transition: transform $transition;
  }

  &__text {
    color: $color-grey;
  }
}
