.card-about {
  display: flex;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  @include media(max, 767) {
    flex-direction: column;
  }

  &__content {
    width: calc(100% - 480px);
    padding: 30px 30px 30px 20px;
    background-color: $color-grey;
    @include media(max, 767) {
      width: 100%;
      height: calc(100% - 240px);
      padding: 20px;
    }
  }

  &__image {
    width: 480px;
    height: 360px;
    overflow: hidden;
    @include media(max, 767) {
      width: 100%;
      height: 240px;
    }
  }
  &__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
