.banner {
  display: flex;
  @include media(max, 991) {
    flex-direction: column-reverse;
    gap: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__anim {
    display: flex;
    align-items: center;
    width: 470px;
    overflow: hidden;

    @include media(max, 991) {
      width: 100%;
      min-height: 560px;
      position: relative;
    }
    @include media(max, 540) {
      margin: 0 -20px;
      width: calc(100% + 40px);
      min-height: 470px;
    }
    @include media(max, 540) {
      min-height: 386px;
    }
  }

  &__video, &__img {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: -84px;
    width: 630px;
    opacity: 0;
    z-index: -1;
    @include media(max, 1170) {
      top: 65%;
      width: 40%;
      right: 0;
    }
    @include media(max, 991) {
      right: 50%;
      top: 0;
      transform: translateX(50%);
      width: auto;
      height: 100%;
    }
    @include media(max, 540) {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: auto;
    }
    &.active {
      opacity: 1;
    }
  }

  .h1 {
    max-width: 710px;
    margin-bottom: 64px;
    @include media(max, 991) {
      margin-bottom: 36px;
    }
  }

  .list-style {
    max-width: 600px;
  }

  &__list {
    margin-bottom: 62px;
    @include media(max, 991) {
      margin-bottom: 20px;
    }

    p {
      @include media(max, 767) {
        line-height: 150%;
        font-size: 14px;
      }
    }

    li {
      position: relative;
      padding-left: 36px;
      cursor: pointer;
      transition: all $transition;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: radial-gradient(circle, #455CFF 0%, #141414 100%);
        border-radius: 50%;
      }

      &.active::before {
        animation: pulse 1.5s infinite;
      }

      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(69, 92, 255, 0.7),
                      0 0 0 0 rgba(69, 92, 255, 0.5);
        }
        50% {
          box-shadow: 0 0 0 10px rgba(69, 92, 255, 0),
                      0 0 0 20px rgba(69, 92, 255, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(69, 92, 255, 0),
                      0 0 0 0 rgba(69, 92, 255, 0);
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 170px;
        bottom: 0;
        height: 1px;
        width: 0;
        background: linear-gradient(90deg, rgba(69, 93, 255, 0.2) 0%, #455DFF 100%);
        transition: width $transition-long;
        @include media(max, 991) {
          display: none;
        }
      }

      &.active::after {
        width: 661px;
      }
    }
  }

  &__link {
    position: relative;
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    color: $color-primary;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      height: 1px;
      width: 100%;
      background: $color-primary;
      transition: width $transition-long;
    }

    @include hover {
      &::after {
        width: 0;
      }
    }
  }
}

.blue-text {
  color: $color-primary;
  animation: text-focus-in 1s ease-in both;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
