.banner
  .h1
    h1
      | Микромаркет
      span.blue-text  Fridgy
      |  умное решение для&nbsp;торговли
  ul.list-style.banner__list
    li.active
      p Умный холодильник с самообслуживанием
    li
      p Подходит для офисов, коворкингов и бизнес-центров; производственных предприятий; общественных учреждений
    li
      p Современное решение, которое делает торговлю быстрой, удобной и прибыльной
  a.banner__link(href="#advantages") Узнать, как работает Fridgy?
