.banner
  .banner__wrapper
    .banner__content
      h1.h1
        span.text-accent Лидогенерация
        br
        | для бизнеса
      .banner__sub-title
        p Покупайте только целевые лиды по&nbsp;фиксированной цене от&nbsp;300&nbsp;₽
        img.banner__emoji(src="img/image-content/banner-emoji.png", alt="Эмодзи дененжное лицо")
      +button({
                link: true,
                text: "Выбрать пакет лидов",
                class: "button--primary"
            })
    .banner__img
      img.banner__pic(src="img/image-content/banner-img.jpg", alt="Женщина с ноутбуком")
      img.banner__star.banner__star--small(src="img/image/star.svg", alt="")
      img.banner__star.banner__star--big(src="img/image/star.svg", alt="")
  .banner__advantages.styled-scrollbar
    ul.advantages-list
      li.advantages-list__item Лидогенерация в b2b
      li.advantages-list__item Биржа лидов
      li.advantages-list__item Сервис по Лидгену
      li.advantages-list__item Лиды для производства
      li.advantages-list__item Клиенты
        br
        | для бизнеса
      li.advantages-list__item Определить телефон посетителя сайта
