.banner
  .banner__info
    .h1
      h1
        | Микромаркет
        span.blue-text  Fridgy
        |  умное решение для&nbsp;торговли
    ul.list-style.banner__list#myList
      li.banner__list-item.active
        p Умный холодильник с самообслуживанием
      li.banner__list-item
        p Подходит для офисов, коворкингов и бизнес-центров; производственных предприятий; общественных учреждений
      li.banner__list-item
        p Современное решение, которое делает торговлю быстрой, удобной и прибыльной
    a.banner__link(href="#advantages") Узнать, как работает Fridgy?
  .banner__anim
    img.banner__img-ios(src="img/image/fridgy.png", alt="")
    video.banner__video(muted playsinline)
      source(src="img/image/anim-1.webm", type="video/webm")
    video.banner__video(muted playsinline)
      source(src="img/image/anim-2.webm", type="video/webm")
    video.banner__video(muted playsinline)
      source(src="img/image/anim-3.webm", type="video/webm")
