include ../logo/logo.pug
include ../nav/nav.pug

header.header
    .container
        .header__row
            //- +logo("logo.svg")(class="header__logo")
            .burger
            //- +nav(["О нас", "Доставка", "Контакты"])(class="header__nav")
