include ../logo/logo.pug
include ../nav/nav.pug

header.header
    .container
        .header__row
            +logo
            .burger
            +nav
            //span.button(data-modal-open="modal") Поп ап с формой
