include ../logo/logo.pug
include ../nav/nav.pug

header.header(data-lock-scroll="")
  .container
    +logo("logo.png")(class="header__logo")
    .header__menu.styled-scrollbar(data-header-menu="")
      .header__menu-wrapper
        +nav([
          { title: "Как это работает", href: "#about" },
          { title: "Цена", href: "#price" },
          { title: "Отзывы", href: "#reviews" },
          { title: "Контакты", href: "#contacts" },
        ])(class="header__nav")
        .header__right
          +social
          a.header__phone(href="tel:+74951183282") +7 495 118-32-82
    include ../burger/burger.pug

