.card-advantages {
  display: flex;
  gap: 20px;
  @include media(max, 767) {
    flex-direction: column-reverse;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
    @include media(max, 767) {
      width: 100%;
      gap: 10px;
    }
  }
  &__text {
    color: $color-grey-dark;
  }
  &__image {
    width: 50%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    @include media(max, 767) {
      width: 100%;
      height: 320px;
    }
  }
  &__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
