.advantages-wrapper {
  display: flex;
  position: relative;
  gap: 20px;

  @include media(max, 767) {
    flex-direction: column;
  }
}

.advantages-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 50%;

  @include media(max, 767) {
    gap: 40px;
    width: 100%;
  }
}

.advantages-sticky {
  width: 50%;
  position: sticky;
  top: 15%;
  align-self: flex-start;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;

  @include media(max, 767) {
    display: none;
  }
}

.sticky-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.active {
    opacity: 1;
  }
}

.card-advantages {
  display: flex;
  gap: 20px;
  height: calc(100vh - $header-height);
  @include media(max, 767) {
    flex-direction: column-reverse;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    @include media(max, 767) {
      width: 100%;
      gap: 10px;
    }
  }
  &__text {
    color: $color-grey-dark;
  }
  &__image {
    display: none;
    width: 50%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    @include media(max, 767) {
      display: block;
      width: 100%;
      height: 320px;
    }
  }
  &__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
