.h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
  @include media(max, 1440) {
    font-size: 60px;
  }
  @include media(max, 767) {
    font-size: 38px;
  }
}
.h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  @include media(max, 767) {
    font-size: 32px;
  }
}
.h3 {
  font-family: $font-secondary;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  @include media(max, 767) {
    font-size: 28px;
  }
}

p {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  @include media(max, 767) {
    font-size: 18px;
  }
}
