.h1, .h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
  @include media(max, 767) {
    font-size: 30px;
  }
}
// .h2 {
//   font-size: 32px;
//   font-weight: 600;
//   line-height: 110%;
//   text-transform: uppercase;
// }
.h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
  @include media(max, 767) {
    font-size: 20px;
    line-height: 150%;
  }
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  @include media(max, 767) {
    font-size: 16px;
  }
}

.number {
  font-size: 100px;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}

.list-style {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 36px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      background: radial-gradient(circle, #455CFF 0%, #141414 100%);
      border-radius: 50%;
    }
  }
}
