// colors
$color-black: #2D2D2D;
$color-white: #FFFFFF;
$color-grey: #808080;
$color-grey-light: #C0C0C0;
$color-grey-white: #F6F6F6;
$color-primary: #FF6600;

// font-family

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Inter', sans-serif;

// transition

$transition: .3s ease;
$transition-long: .7s ease;

// sizes
$header-height: 82px;
