//@font-face {
//  font-family: "Rubik";
//  src: url("../fonts/rubik/Rubik-Regular.woff2") format("woff2");
//  font-weight: 400;
//  font-style: normal;
//  font-display: swap;
//}
//@font-face {
//  font-family: "Rubik";
//  src: url("../fonts/rubik/Rubik-Medium.woff2") format("woff2");
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
