@layer reset {
  header,
  main,
  footer,
  .modal {
    *:not(svg):not(svg *):not(strong):not(em):not(b):not(del) {
      all: unset;
      display: revert;
      list-style: none;
    }
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
  transition: $transition;
  cursor: pointer;
}
button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
img {
  display: block;
  width: auto;
  max-width: 100%;
  overflow: clip;
  overflow-clip-margin: content-box;
}
.hidden {
  display: none !important;
}
body {
  min-height: 100vh;
  position: relative;
  font-family: $font-primary;
  font-style: normal;
  color: $color-black;
  height: 100%;
}
html {
  height: auto;
  -webkit-text-size-adjust: none;
  &.disable-scrolling {
    overflow: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
}
html,
body {
  min-height: 100vh;
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}
.main,
.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 1220px;
}
.section {
  padding: 100px 0;

  @include media(max, 767) {
    padding: 60px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @include media(max, 767) {
      gap: 40px;
    }
  }

  &--main {
    margin-top: $header-height;
    padding-top: 81px;
    padding-bottom: 69px;
    background-image: url(../img/image/banner-bg.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    @include media(max, 767) {
      padding-top: 432px;
      background-image: url(../img/image/banner-bg-mob.png);
      background-size: 100% auto;
      background-position: center top;
    }
  }

  &--footer {
    background-image: url(../img/image/footer-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    @include media(max, 767) {
      background-image: url(../img/image/footer-bg-mob.jpg);
      background-size: 100% 100%;
      background-position: center top;
      padding: 40px 0;
    }
  }

  &--request {
    background-image: url(../img/image/footer-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    @include media(max, 767) {
      background-image: url(../img/image/footer-bg-mob.jpg);
      background-size: 100% 100%;
      background-position: center top;
    }
  }

  &--second-footer {
    background-color: $color-black;
    padding: 20px 0;
  }

  &--grey {
    background-color: $color-grey;
  }

  &--no-overflow {
    overflow: hidden;
  }
}

.no-mob {
  @include media(max, 767) {
    display: none !important;
  }
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 8px;
  }

}
