@layer reset {
  header,
  main,
  footer,
  .modal {
    *:not(svg):not(svg *):not(strong):not(em):not(b):not(del) {
      all: unset;
      display: revert;
      list-style: none;
    }
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
  transition: $transition;
  cursor: pointer;
}
button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
img {
  display: block;
  width: auto;
  max-width: 100%;
  overflow: clip;
  overflow-clip-margin: content-box;
}
.hidden {
  display: none !important;
}
body {
  min-height: 100vh;
  position: relative;
  font-family: $font-primary;
  font-style: normal;
  color: $color-black;
  height: 100%;
}
html {
  height: auto;
  -webkit-text-size-adjust: none;
  &.disable-scrolling {
    overflow: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
}
html,
body {
  min-height: 100vh;
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
  }
}
.main,
.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 1820px;
  @include media(max, 767) {
    padding: 0 14px;
  }
}
.section {
  .container {
    display: flex;
    flex-direction: column;
  }

  &--main {
    padding-top: $header-height;

    .container {
      padding-top: 60px;
      @include media(max, 767) {
        padding-top: 30px;
      }
    }
  }

  &--about {
    padding: 120px 0;
    @include media(max, 767) {
      padding: 60px 0;
    }
    .container {
      gap: 40px;
    }
  }

  &--footer {
    padding: 80px 0;
    background-color: $color-black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
    @include media(max, 767) {
      padding: 40px 0;
      border-radius: 0;
    }
    .container {
      gap: 20px;
    }
  }

  &--grey {
    background-color: $color-grey-white;
  }
}

.text-accent {
  color: $color-primary;
}

.styled-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
  }
}
