@layer reset {
  header,
  main,
  footer,
  .modal {
    *:not(svg):not(svg *):not(strong):not(em):not(b):not(del) {
      all: unset;
      display: revert;
      list-style: none;
    }
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
  transition: $transition;
  cursor: pointer;
}
button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
img {
  display: block;
  width: auto;
  max-width: 100%;
  overflow: clip;
  overflow-clip-margin: content-box;
}
.hidden {
  display: none !important;
}
body {
  min-height: 100vh;
  position: relative;
  font-style: normal;
  height: 100%;
}
html {
  height: auto;
  -webkit-text-size-adjust: none;
  &.disable-scrolling {
    overflow: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
}
html,
body {
  min-height: 100vh;
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}
.main,
.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 1200px;
}
.section {
  &--no-overflow {
    overflow: hidden;
  }
}
