//theme
@import "var";
@import "mixin";
@import "typography";

//general
@import "fonts";
@import "general";

//blocks
@import "breadcrumbs/_breadcrumbs";
@import 'swiper/_swiper';
@import "burger/_burger";
@import "banner/_banner";
@import "fields/_fields";
@import "button/_button";
@import "logo/_logo";
@import "nav/_nav";
@import "header/_header";
@import "modal/_modal";
@import "footer/_footer";
@import "cookie/_cookie";
@import 'social/_social';
@import 'policy/_policy';
@import 'card-advantages/_card-advantages';
@import 'card-technology/_card-technology';
@import 'card-about/_card-about';
@import 'card-how/_card-how';
@import 'card-who-is/_card-who-is';

//pages
@import 'index/_main.scss';

//components
//@import 'components/select/_select';
//@import 'components/checkbox/_checkbox';
//@import 'components/radio/_radio';
//@import 'components/password-toggle/_password-toggle';
//@import 'components/rating/_rating';
@import 'components/accordion/_accordion';
@import 'components/tabs/_tabs';
//@import 'components/map/_map';
//@import 'components/counter/_counter';
//@import 'components/tooltip/_tooltip';
//@import 'components/scroll-top/_scroll-top';
//@import 'components/pagination/_pagination';
