.radio {
    display: block;
    width: fit-content;
    min-height: 15px;
    position: relative;
    cursor: pointer;
    &__input {
        width: 1px;
        height: 1px;
        position: absolute;
        opacity: 0;
        +label {
            display: inline-flex;
            align-items: center;
            position: relative;
            padding-left: 27px;
            min-height: 15px;
            font-size: 20px;
            line-height: 120%;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                @include size(15px);
                background-color: rgba(30, 35, 47, 0.14);
                border-radius: 50%;
                transition: $transition;
            }
            &::after {
                content: "";
                position: absolute;
                top: 8px;
                left: 3px;
                @include size(9px);
                background-color: $color-error;
                border-radius: 50%;
                transition: $transition;
            }
        }
        &:not(:checked) {
            +label {
                font-weight: 400;
                &::after {
                    transform: scale(0);
                }
            }
        }
        &:checked {
            +label {
                font-weight: bold;
                &::after {
                    transform: scale(1);
                }
            }
        }
    }
}
