.card-calc {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: $color-grey;
  border-radius: 10px;

  @include media(max, 767) {
    flex-direction: column;
    gap: 10px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include media(max, 767) {
      margin-bottom: 10px;
    }

    &.opened {
      grid-template-columns: repeat(1, 1fr);
      @include media(max, 767) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include media(max, 767) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }

  &__info,
  &__more-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include media(max, 767) {
      gap: 10px;
    }
  }

  &__info {
    width: 360px;
    @include media(max, 767) {
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include media(max, 767) {
      gap: 5px;
    }
  }

  &__more-info {
    width: calc(100% - 360px);
    @include media(max, 767) {
      width: 100%;
    }
  }

  &.unvisible {
    display: none;
    .opened & {
      display: flex;
    }
  }

  &__more-info {
    display: none;
    .opened & {
      display: flex;
    }
  }

  &__title {
    p {
      font-size: 32px;
      font-weight: 600;
      line-height: 110%;
      text-transform: uppercase;
      @include media(max, 767) {
        font-size: 20px;
        line-height: 150%
      }
    }
  }
}

.opened {
  .card-calc:first-child {
    order: 1;
  }
  .card-calc:last-child {
    order: 2;
  }
}
