.footer {
  color: $color-white;

  &__copyright {
    font-family: $font-secondary;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    @include media(max, 767) {
      font-size: 20px;
    }
  }

  &__requisites {
    margin-bottom: 20px;
  }
}

.footer-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 0;
  &__item {
    padding: 0 10px;
  }
  &__item:not(:last-child) {

    border-right: 1px solid $color-grey;
  }
  &__link {
    color: $color-grey;
    @include hover {
      color: $color-white;
    }
    &:active {
      color: $color-primary;
    }
  }
}
