.footer {
  color: $color-white;

  &__address {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;

    @include media(max, 767) {
      flex-direction: column;
      gap: 20px;
    }

    a {
      position: relative;
      width: fit-content;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 1px;
        width: 0;
        background: currentColor;
        transition: width $transition-long;
      }

      @include hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__contacts,
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @include media(max, 991) {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
  }

  &__info {
    @include media(max, 767) {
      gap: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &__copyright {
    display: flex;
    gap: 20px;
    @include media(max, 767) {
      flex-direction: column;
      gap: 5px;
    }
  }

  &__details {
    display: flex;
    gap: 5px;
    @include media(max, 767) {
      flex-wrap: wrap;
    }
  }

  .social__item {
    background-color: $color-white;

    svg {
      color: $color-primary;
    }

    @include hover {
      background-color: $color-primary;
      svg {
        color: $color-white;
      }
    }
  }
  &__contacts {
    .button {
      @include media(max, 767) {
        font-size: 20px;
      }
    }
  }
}
