footer.footer(data-lock-scroll)
  section.section.section--footer
    .container
      p.footer__copyright &copy;&nbsp;2025 Все права защищены. Технология &laquo;Лид Конвейер&raquo;&nbsp;&mdash; лидогенерация для бизнеса.
      p.footer__requisites ООО «ДС-ГРУПП» ИНН 7801355174 ОГРН 1187847129425
      ul.footer-nav
        li.footer-nav__item
          a.footer-nav__link(href="#") Блог
        li.footer-nav__item
          a.footer-nav__link(href="#") Договор-оферта
        li.footer-nav__item
          a.footer-nav__link(href="#") Политика конфиденциальности
        li.footer-nav__item
          a.footer-nav__link(href="#") Соглашение об обработке данных
        li.footer-nav__item
          a.footer-nav__link(href="#") Вход в личный кабинет
