mixin input(data)
  -
    if (data.temp) {
      if (data.temp === "name") {
        data.type = "text";
        data.required = true;
        data.imageError = 'input-error'
      }

      if (data.temp === "phone") {
        data.type = "tel";
        data.required = true;
        data.error = "phone";
        data.imageError = 'input-error'
      }

      if (data.temp === "email") {
        data.type = "email";
        // data.required = true;
        data.error = "email";
        data.imageError = 'input-error'
      }
    }
  .inputholder.form__inputholder(class=(data.width ? `inputholder--width-${data.width}` : "") data-custom-mask=data.mask ? true : undefined)
    if data.label
      label.inputholder__label(data-default-label)=data.label
    input.inputholder__input(type=(data.type || "text") placeholder=(data.placeholder) data-required=(data.required) data-text-error=(data.error))&attributes(
      attributes)

//- Примеры использования

//- +input({
//-     temp: "email",
//- })

//- +input({
//-     temp: "phone",
//- })(data-mask-tel class="example-class")

//- +input({
//-     label: "Адрес",
//-     placeholder: "Введите адрес",
//-     required: true,
//-     error: "address",
//-     width: "half"
//- })
