.cookie(data-cookie data-days="30" data-lock-scroll)
  .cookie__body
    .cookie__text
      p Мы используем cookie-файлы, что помогает предоставлять вам более удобный и персонализированный опыт использования сайта.
    .button.cookie-agree-button(data-cookie-agree) Хорошо
